<div class="footer">
  <ul class="footer-menu">
    <li class="footer-item"><a href="/sandbox/scratchwork/about/contact.php">Contact us</a></li>
    <li class="footer-item"><a href="/sandbox/scratchwork/sitemap.php">Site map</a></li>
    <li class="flex"></li>
    <li class="footer-right" style="color: violet">social media stuff</li>
  </ul>
</div>
</div>

<script>
  function expandNav() {
      var x = document.getElementById("mobile-navbar");
      if (x.className === "mobile-navbar") {
          x.className += " expand";
      } else {
          x.className = "mobile-navbar";
      }
  }
  function expand02() {
      var x = document.getElementById("mobile-12");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand03() {
      var x = document.getElementById("mobile-13");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand04() {
      var x = document.getElementById("mobile-14");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand05() {
      var x = document.getElementById("mobile-15");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand06() {
      var x = document.getElementById("mobile-16");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand07() {
      var x = document.getElementById("mobile-17");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand08() {
      var x = document.getElementById("mobile-18");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
</script>
</body>
