<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <script type="text/javascript" src="/bundle.js"></script>
  <link href="/main.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="header">
			<a href="/sandbox/scratchwork/index.php">
				<img src="./library/logo_white_nourl.gif" height="90px" class="logo" />
			</a>
		</div>
		<!--
		<div class="navbar-bg"></div>
		<div class="navbar-bg-color"></div>
		-->
		<div class="navbar">
			<ul class="dropdown-menu">
				<li class="dropdown-item">
					<a href="/sandbox/scratchwork/about/about.php"><div class="dropdown-link">About</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>About</h1></li>
								</ul>
							</div>
							<div>
								<ul>
									<li style="padding-top: 15px"><a href="/sandbox/scratchwork/about/about.php">About us</a></li>
									<li><a href="/sandbox/scratchwork/about/king-sejong.php">King Sejong</a></li>
									<li><a href="/sandbox/scratchwork/about/board.php">Committees and board</a></li>
									<li><a href="/sandbox/scratchwork/about/contact.php">Contact us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item">
					<a href="/sandbox/scratchwork/writing/index.php"><div class="dropdown-link">Writing</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>writing competition</h1></li>
									<li><a href="/sandbox/scratchwork/writing/index.php">Writing index</a></a></li>
									<li><a href="/sandbox/scratchwork/login.php">Applications</a></li>
									<li><a href="/sandbox/scratchwork/writing/about.php">About the writing competition</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>essay division</h1></li>
									<li><a href="/sandbox/scratchwork/writing/essay.php">Competition rules</a></li>
									<li><a href="/sandbox/scratchwork/writing/adult.php">Adult division</a></li>
									<li><a href="/sandbox/scratchwork/writing/senior.php">Senior division</a></li>
									<li><a href="/sandbox/scratchwork/writing/junior.php">Junior division</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>sijo division</h1></a></li>
									<li><a href="/sandbox/scratchwork/writing/sijo.php">Competition rules</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-guide.php">How to write sijo</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>past</h1></a></li>
									<li><a href="/sandbox/scratchwork/writing/winners.php">Past winners</a></li>
									<li><a href="/sandbox/scratchwork/writing/winning-essays.php">Winning essays</a></li>
									<li><a href="/sandbox/scratchwork/writing/winning-sijo.php">Winning sijo</a></li>
									<li><a href="/sandbox/scratchwork/writing/judges.php">Judges</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item">
					<a href="/sandbox/scratchwork/music/index.php"><div class="dropdown-link">Music</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>music competition</h1></li>
									<li><a href="/sandbox/scratchwork/music/index.php">Music index</a></li>
									<li><a href="/sandbox/scratchwork/login.php">Applications</a></li>
									<li><a href="/sandbox/scratchwork/music/about.php">About the music competition</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>current</h1></li>
									<li><a href="/sandbox/scratchwork/music/rules.php">Competition rules &amp; info</a></li>
									<li><a href="/sandbox/scratchwork/music/repertoire.php">Required repertoire</a></li>
									<li><a href="/sandbox/scratchwork/music/location.php">Location</a></li>
									<li><a href="/sandbox/scratchwork/music/concert-info.php">Winners' concert info</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>past</h1></li>
									<li><a href="/sandbox/scratchwork/music/winners.php">Winners</a></li>
									<li><a href="/sandbox/scratchwork/music/judges.php">Judges</a></li>
									<li><a href="/sandbox/scratchwork/music/concert-past.php">Past winners' concerts</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item">
					<a href="/sandbox/scratchwork/composition/index.php"><div class="dropdown-link">Composition</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>music composition competition</h1></li>
									<li><a href="/sandbox/scratchwork/composition/index.php">Composition index</a></li>
									<li><a href="/sandbox/scratchwork/composition/about.php">About the competition</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>past</h1></li>
									<li><a href="/sandbox/scratchwork/composition/past.php">Past competitions</a></li>
									<li><a href="/sandbox/scratchwork/composition/winners.php">Winners and judges</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>pieces</h1></li>
									<li><a href="/sandbox/scratchwork/events/music.php">Performances of pieces</a></li>
									<li><a href="/sandbox/scratchwork/music/repertoire.php">Use as repertoire</a></li>
									<li><a href="/sandbox/scratchwork/resources/music-folk.php">Traditional Korean music</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item <?php if(sijo === $activePage):?> active<?php endif;?>">
					<a href="/sandbox/scratchwork/sijo/index.php"><div class="dropdown-link">Sijo projects</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>sijo projects</h1></li>
									<li><a href="/sandbox/scratchwork/sijo/index.php">Sijo projects index</a></li>
									<li><a href="/sandbox/scratchwork/sijo/about.php">About our sijo projects</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-guide.php">A beginner's guide to sijo</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>teaching sijo</h1></li>
									<li><a href="/sandbox/scratchwork/sijo/teaching.php">About teaching sijo</a></li>
									<li><a href="/sandbox/scratchwork/sijo/teacher-materials.php">Materials for teachers</a></li>
									<li><a href="/sandbox/scratchwork/sijo/teacher-videos.php">Lectures and video resources</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>sijo and music</h1></li>
									<li><a href="/sandbox/scratchwork/sijo/sijo-music.php">About sijo and music</a></li>
									<li><a href="/sandbox/scratchwork/sijo/sijo-composers.php">Composers and poets</a></li>
									<li><a href="/sandbox/scratchwork/events/sijo-and-music.php">Past and upcoming performances</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item ">
					<a href="/sandbox/scratchwork/events/index.php" ><div class="dropdown-link">Events</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>events</h1></li>
									<li><a href="/sandbox/scratchwork/events/index.php">Events index</a></li>
									<li><a href="/sandbox/scratchwork/events/upcoming.php">Upcoming events</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>general events</h1></li>
									<li><a href="/sandbox/scratchwork/events/special.php">Special events</a></li>
									<li><a href="/sandbox/scratchwork/events/benefits.php">Benefits and keynote speakers</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>sijo</h1></li>
									<li><a href="/sandbox/scratchwork/events/sijo-and-music.php">Sijo and music performances</a></li>
									<li><a href="/sandbox/scratchwork/events/sijo-workshops.php">Lectures and workshops</a></li>
									<li><a href="/sandbox/scratchwork/events/sijo-other.php">Other sijo events</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>music</h1></li>
									<li><a href="/sandbox/scratchwork/events/music.php">Classical music performances</a></li>
									<li><a href="/sandbox/scratchwork/music/concert-past.php">Music competition winners' concerts</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="dropdown-item">
					<a href="/sandbox/scratchwork/resources/index.php"><div class="dropdown-link">Resources</div></a>
					<div class="dropdown-inner">
						<div class="dropdown-inner-container">
							<div>
								<ul>
									<li><h1>resources</h1></li>
									<li><a href="/sandbox/scratchwork/resources/index.php">Resources index</a></li>
									<li><a href="/sandbox/scratchwork/resources/general.php">General resources about Korea</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>sijo</h1></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-guide.php">A beginner's guide to sijo</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-read.php">Read sijo poems</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-chang.php">Traditional sijo music</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-indepth.php">Sijo in-depth</a></li>
									<li><a href="/sandbox/scratchwork/resources/sijo-resources.php">Resources</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>traditional music</h1></li>
									<li><a href="/sandbox/scratchwork/resources/music.php">Introduction</a></li>
									<li><a href="/sandbox/scratchwork/resources/music-folk.php">Folk songs</a></li>
									<li><a href="/sandbox/scratchwork/resources/music-modern.php">Modern repertoire</a></li>
								</ul>
							</div>
							<div>
								<ul>
									<li><h1>literature</h1></li>
									<li><a href="/sandbox/scratchwork/resources/literature.php">Contemporary short stories</a></li>
									<li><a href="/sandbox/scratchwork/resources/literature-folk.php">Korean folk tales</a></li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="flex"></li>
				<li class="dropdown-item">
					<a class="dropdown-link" href="/sandbox/scratchwork/login.php">Log in</a>
				</li>
			</ul>
		</div>
		<div class="mobile-button" id="mobile-button">
			<a href="javascript:void(0);" class="icon" onclick="expandNav()">
				<i class="fas fa-bars"></i>
			</a>
			<a href="#" class="mobile-login">log in</a>
		</div>
		<div class="mobile-navbar" id="mobile-navbar">
			<a href="javascript:void(0);" onclick="expand01()" id="mobile-01" class="mobile-m01">home</a>
			<a href="javascript:void(0);" onclick="expand02()" id="mobile-02" class="mobile-m01">about</a>
				<div id="mobile-12" class="mobile-m10">
					<a href="about/about.php">about us</a>
					<a href="about/king-sejong.php">king sejong</a>
					<a href="about/board.php">committees and board</a>
					<a href="about/contact.php">contact</a>
				</div>
			<a href="javascript:void(0);" onclick="expand03()" id="mobile-03" class="mobile-m01">writing</a>
				<div id="mobile-13" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">about</a>
					<a href="#">essay competition</a>
					<a href="#">adult division</a>
					<a href="#">senior division</a>
					<a href="#">junior division</a>
					<a href="#">sijo competition</a>
					<a href="#">how to write sijo</a>
					<a href="#">past sijo winners</a>
					<a href="#">past essay winners</a>
					<a href="#">past judges</a>
					<a href="#">winning entries</a>
				</div>
			<a href="javascript:void(0);" onclick="expand04()" id="mobile-04" class="mobile-m01">music</a>
				<div id="mobile-14" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">about</a>
					<a href="#">rules &amp; info</a>
					<a href="#">repertoire</a>
					<a href="#">location</a>
					<a href="#">winners' concert info</a>
					<a href="#">past winners</a>
					<a href="#">judges</a>
					<a href="#">past winners' concerts</a>
				</div>
			<a href="javascript:void(0);" onclick="expand05()" id="mobile-05" class="mobile-m01">composition</a>
				<div id="mobile-15" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">about</a>
					<a href="#">past competitions</a>
					<a href="#">performances</a>
					<a href="#">use as repertoire</a>
					<a href="#">traditional korean music</a>
				</div>
			<a href="javascript:void(0);" onclick="expand06()" id="mobile-06" class="mobile-m01">sijo</a>
				<div id="mobile-16" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">about</a>
					<a href="#">about teaching sijo</a>
					<a href="#">materials for teachers</a>
					<a href="#">lectures and videos</a>
					<a href="#">about sijo and music</a>
					<a href="#">about the music</a>
					<a href="#">composers and poets</a>
					<a href="#">performances</a>
				</div>
			<a href="javascript:void(0);" onclick="expand07()" id="mobile-07" class="mobile-m01">events</a>
				<div id="mobile-17" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">upcoming events</a>
					<a href="#">special events</a>
					<a href="#">benefits</a>
					<a href="#">sijo and music performances</a>
					<a href="#">lectures and workshops</a>
					<a href="#">other sijo events</a>
					<a href="#">classical music performances</a>
					<a href="#">music competition winners' concerts</a>
				</div>
			<a href="javascript:void(0);" onclick="expand08()" id="mobile-08" class="mobile-m01">resources</a>
				<div id="mobile-18" class="mobile-m10">
					<a href="#">index</a>
					<a href="#">our goal</a>
					<a href="#">general resources</a>
					<a href="#">beginner's guide to sijo</a>
					<a href="#">read sijo poems</a>
					<a href="#">history of sijo</a>
					<a href="#">traditional sijo music</a>
					<a href="#">sijo resources</a>
					<a href="#">traditional folk music</a>
					<a href="#">index of songs</a>
					<a href="#">modern repertoire</a>
					<a href="#">contemporary short stories</a>
					<a href="#">folk tales</a>
				</div>
		</div>

    <div class="content" style="
      background-image:url('./library/homepic.jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;">
  <div style="padding-top:35%;">
    <div style="color:white; padding:10px 20px; background-color:#fefefe; background: rgba(0, 0, 0, 0.5); width:100%;">
      <h1>Welcome to the Sejong Cultural Society.</h1>
    </div>
  </div>
  <div style="background-color:#fefefe; width:100%; padding:10px 20px;">
    <h1>What to expect on this page</h1>
    <p>Upcoming Korean community events<br/>
      Upcoming/recent Sejong events<br/>
      What's new<br/>
      Interesting news<br/>
      Brief who we are</p>
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec non magna massa. Ut vel sapien sed ante porttitor consequat. Proin vitae elit id augue blandit elementum. Vivamus commodo iaculis commodo. Nulla at nunc ut ligula porta pellentesque. Pellentesque eget sollicitudin metus, ac faucibus ligula. Quisque finibus molestie efficitur. Etiam in dui quis justo placerat aliquet quis mollis enim. In semper neque purus, et blandit ex ultricies vitae. Mauris in pharetra elit. Aenean sodales eros ipsum, ac sodales mi mattis at. Etiam efficitur, justo ut auctor finibus, eros eros lobortis ante, sed aliquet elit lacus vel sem. Donec molestie venenatis sapien, eu tincidunt elit gravida ut. Integer aliquet laoreet urna, et rhoncus orci. Duis sagittis id neque at tincidunt. Duis posuere non tortor ut sollicitudin.</p>
    <p>Proin porta nisl ac tempus ultricies. Vivamus vitae dui sit amet ligula dignissim lacinia vitae ut elit. Duis vitae dictum metus. Etiam quis ante mauris. Suspendisse molestie imperdiet cursus. Sed viverra urna ut massa sagittis ullamcorper. Etiam ultrices nunc vitae nulla eleifend, ac pellentesque neque suscipit. Integer elementum sapien malesuada risus finibus, eu dapibus magna rutrum.</p>
    <p>Vivamus id blandit tortor. In hac habitasse platea dictumst. Morbi eget turpis eros. Maecenas at justo sed sem semper sollicitudin ac eu arcu. Proin vitae ligula turpis. Curabitur urna neque, rhoncus et volutpat mattis, auctor id sapien. Aenean leo turpis, euismod ac dapibus placerat, aliquet quis lorem. Integer vitae magna tellus. Phasellus consectetur lacus vitae quam facilisis, sit amet venenatis ex accumsan. In finibus neque ac tincidunt tincidunt. Proin tristique quis nulla et consectetur.</p>
    <p>Morbi varius tristique mi et aliquet. Sed scelerisque massa id ligula semper egestas. Nam a rhoncus neque, sed aliquet augue. Integer tincidunt est a tristique ullamcorper. Suspendisse ut vestibulum nulla. Maecenas sodales purus sed pellentesque blandit. Donec scelerisque, neque id semper maximus, turpis lacus tincidunt nisi, quis viverra felis diam ut diam. Nam cursus eget lorem a maximus.</p>
    <p>Suspendisse consequat dignissim tellus. Phasellus pretium risus sed sem luctus, vitae mollis arcu sollicitudin. Sed blandit, lacus non ornare dapibus, tortor sem varius velit, ac dignissim mi ipsum non dolor. Ut pretium nunc vel pulvinar eleifend. Aenean nec vestibulum massa. Nullam tempor aliquam sem a dignissim. Cras nec accumsan nisi. Maecenas porttitor pretium ex, ac porttitor mi tincidunt vel. Ut ac semper sapien, a aliquet tellus. Proin id pharetra est. Nulla rutrum condimentum urna quis sagittis. In sed elit pretium, condimentum dolor non, fringilla velit. Donec sit amet ex a elit varius blandit. Duis luctus nulla tortor, a iaculis leo vehicula eu. </p>
  </div>
</div>

    <div class="footer">
  <ul class="footer-menu">
    <li class="footer-item"><a href="/sandbox/scratchwork/about/contact.php">Contact us</a></li>
    <li class="footer-item"><a href="/sandbox/scratchwork/sitemap.php">Site map</a></li>
    <li class="flex"></li>
    <li class="footer-right" style="color: violet">social media stuff</li>
  </ul>
</div>
</div>

<script>
  function expandNav() {
      var x = document.getElementById("mobile-navbar");
      if (x.className === "mobile-navbar") {
          x.className += " expand";
      } else {
          x.className = "mobile-navbar";
      }
  }
  function expand02() {
      var x = document.getElementById("mobile-12");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand03() {
      var x = document.getElementById("mobile-13");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand04() {
      var x = document.getElementById("mobile-14");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand05() {
      var x = document.getElementById("mobile-15");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand06() {
      var x = document.getElementById("mobile-16");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand07() {
      var x = document.getElementById("mobile-17");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
  function expand08() {
      var x = document.getElementById("mobile-18");
      if (x.className === "mobile-m10") {
          x.className += " expand";
      } else {
          x.className = "mobile-m10";
      }
  }
</script>
</body>
