<div class="mobile-button" id="mobile-button">
  <a href="javascript:void(0);" class="icon" onclick="expandNav()">
    <i class="fas fa-bars"></i>
  </a>
  <a href="#" class="mobile-login">log in</a>
</div>
<div class="mobile-navbar" id="mobile-navbar">
  <a href="javascript:void(0);" onclick="expand01()" id="mobile-01" class="mobile-m01">home</a>
  <a href="javascript:void(0);" onclick="expand02()" id="mobile-02" class="mobile-m01">about</a>
    <div id="mobile-12" class="mobile-m10">
      <a href="about/about.php">about us</a>
      <a href="about/king-sejong.php">king sejong</a>
      <a href="about/board.php">committees and board</a>
      <a href="about/contact.php">contact</a>
    </div>
  <a href="javascript:void(0);" onclick="expand03()" id="mobile-03" class="mobile-m01">writing</a>
    <div id="mobile-13" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">about</a>
      <a href="#">essay competition</a>
      <a href="#">adult division</a>
      <a href="#">senior division</a>
      <a href="#">junior division</a>
      <a href="#">sijo competition</a>
      <a href="#">how to write sijo</a>
      <a href="#">past sijo winners</a>
      <a href="#">past essay winners</a>
      <a href="#">past judges</a>
      <a href="#">winning entries</a>
    </div>
  <a href="javascript:void(0);" onclick="expand04()" id="mobile-04" class="mobile-m01">music</a>
    <div id="mobile-14" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">about</a>
      <a href="#">rules &amp; info</a>
      <a href="#">repertoire</a>
      <a href="#">location</a>
      <a href="#">winners' concert info</a>
      <a href="#">past winners</a>
      <a href="#">judges</a>
      <a href="#">past winners' concerts</a>
    </div>
  <a href="javascript:void(0);" onclick="expand05()" id="mobile-05" class="mobile-m01">composition</a>
    <div id="mobile-15" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">about</a>
      <a href="#">past competitions</a>
      <a href="#">performances</a>
      <a href="#">use as repertoire</a>
      <a href="#">traditional korean music</a>
    </div>
  <a href="javascript:void(0);" onclick="expand06()" id="mobile-06" class="mobile-m01">sijo</a>
    <div id="mobile-16" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">about</a>
      <a href="#">about teaching sijo</a>
      <a href="#">materials for teachers</a>
      <a href="#">lectures and videos</a>
      <a href="#">about sijo and music</a>
      <a href="#">about the music</a>
      <a href="#">composers and poets</a>
      <a href="#">performances</a>
    </div>
  <a href="javascript:void(0);" onclick="expand07()" id="mobile-07" class="mobile-m01">events</a>
    <div id="mobile-17" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">upcoming events</a>
      <a href="#">special events</a>
      <a href="#">benefits</a>
      <a href="#">sijo and music performances</a>
      <a href="#">lectures and workshops</a>
      <a href="#">other sijo events</a>
      <a href="#">classical music performances</a>
      <a href="#">music competition winners' concerts</a>
    </div>
  <a href="javascript:void(0);" onclick="expand08()" id="mobile-08" class="mobile-m01">resources</a>
    <div id="mobile-18" class="mobile-m10">
      <a href="#">index</a>
      <a href="#">our goal</a>
      <a href="#">general resources</a>
      <a href="#">beginner's guide to sijo</a>
      <a href="#">read sijo poems</a>
      <a href="#">history of sijo</a>
      <a href="#">traditional sijo music</a>
      <a href="#">sijo resources</a>
      <a href="#">traditional folk music</a>
      <a href="#">index of songs</a>
      <a href="#">modern repertoire</a>
      <a href="#">contemporary short stories</a>
      <a href="#">folk tales</a>
    </div>
</div>
