{% set title = "sijo and music" %}
{% extends "../../templates/_page.njk" %}

  {% block content %}
		<div class="wrapper">

			<!-- <h1>Sijo and Music</h1>
			<h2>Sijo-inspired music of all genres</h2>

	    <div style="clear:both; border-bottom: 1px grey solid; width: 105.6%; padding-top: 30px; margin-left: -30px; margin-right: -60px;"></div> -->

			<div id="main"></div>

			<h1>Music Inspired by Korean Poetry: Sijo Poems in Settings from Classical to Hip-Hop</h1>
			<h2>October 2017, Poetry Foundation</h2>

			<p>Originally, sijo were first and foremost written as songs and performed with musical accompaniment. In continuing this tradition, the Sejong Cultural Society has begun to collaborate with numerous musicians from a range of different genres in creating musical works based on and featuring sijo. Through modern and popular mainstream genres of music, we hope that contemporary prize-winning and classic sijo will be used in works that may appeal to the younger generations. In the future, we hope to see sijo expressed through a wide variety of media forms.</p><br/>

			<!-- <p><a href="/events/2017/musicSijo.php">more information about this event</a> |
				<a href="http://sejongculturalsociety.org/events/2017/20171021_sijo_concert_program_view.pdf">program book</a></p> -->

			<div id="writingPM"></div>

		</div>

	{% endblock %}
