.tab {
	float:left;
	clear:left;
	display:block;
	width:20%;

	h3 {
		margin: 0px;
		padding: 0px;
	}

	:hover {
		cursor: pointer;
	}

}

.tab.h {
	display: inline;
	clear: none;
	background-color: grey;
	color: white;
	border: none;
	text-align: center;
	padding: 4px;
	transition: background-color 0.3s ease;
	border-radius: 3em 3em 0em 0em / 5em 5em 0em 0em;

	:hover {
		background-color: darkgrey;
		transition: background-color 0.3s ease;
		border-radius: 3em 3em 0em 0em / 5em 5em 0em 0em;
	}
}
.tab.contain {
	border-bottom: solid 2px grey;
	width: 100%;
	margin-left: -30px;
	margin-right: -90px;
	padding-left: 60px;
}

.card, .mov {
	clear:both;
}

.mov {
	padding: 20px 0px 30px;

	iframe {
		float: left;
		margin-bottom: 30px;
	}

	.text {
		float:left;
		width: 30%;
	}

	h1 {
		margin-top: 0px;
	}

}
