$primary: #003153;
$light: #FAF7F7;
$lightAccent: #4CAAC5;
$dark: #18151D;
$darkAccent: #8D5B62;

$success: #3E8F58;
$warning: #BB7F20;
$failure: #F44336;

$blue: #1010BB;

a {
	color: $lightAccent;
}
a:hover {
	color:grey;
}
h2 {
	color:grey;
}

.wrapper {
	background-color: #fafafa;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LAYOUT */
/*
.navbar, .dropdown-item {
	background-color: dimgrey;
	border-color: dimgrey;
}
*/
.navbar.active, .dropdown-item:hover, div.dropdown-item:hover {
	border-color: violet;
}
.navbar.aero {
	background: rgba(0, 0, 0, 0.4);
}
.dropdown-menu a {
	color: white;
}

.dropdown-inner {
	/* remove bg-color for aero
	background-color: rgba(0,0,0,0.9);
	*/
	color:white;
}
.dropdown-inner a {
	color: darkseagreen;
}
.dropdown-inner a:hover {
	color:violet;
}

.footer {
	background-color:#464646;
	color: white;
}
.footer a {
	color: gold;
}
.footer a:hover {
	color: coral;
}

/*
.header, .logo {
	background-color: darkseagreen;
}
.dropdown-item:hover {
	color:lightpink;
}
*/
