$primary: darkseagreen;
$light: palegoldenrod;
$lightAccent: coral;
$dark: steelblue;
$darkAccent: #4CAAC5;
$writing: #4CAAC5;
$background: #efefef;
$backgroundDark: #dddddd;

$success: limegreen;
$warning: sandybrown;
$failure: crimson;
$failureLight: lightpink;

$blue: #1010BB;

a {
	color: $darkAccent;
}
a:hover {
	color:grey;
}
h2 {
	color:grey;
}

.wrapper, .text {
	background-color: $background;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ LAYOUT */
/*
.navbar, .dropdown-item {
	background-color: dimgrey;
	border-color: dimgrey;
}
*/
.navbar.active, .dropdown-item:hover, div.dropdown-item:hover {
	border-color: violet;
}
.navbar.aero {
	background: rgba(0, 0, 0, 0.4);
}
.dropdown-menu a {
	color: white;
}

.dropdown-inner {
	/* remove bg-color for aero
	background-color: rgba(0,0,0,0.9);
	*/
	color:white;
}
.dropdown-inner a {
	color: $light;
}
.dropdown-inner a:hover {
	color:$lightAccent;
}

.footer {
	background-color:#464646;
	color: white;
}
.footer a {
	color: $light;
}
.footer a:hover {
	color: $lightAccent;
}

/*
.header, .logo {
	background-color: darkseagreen;
}
.dropdown-item:hover {
	color:lightpink;
}
*/
