:root {
    --turquoise: #54aba5;
    --duskrose: #ab5482;
    --bronze: #ab9454;
    --lilac: #c7c3f2;
    --bubblegum: #edbfe8;
    --chartreuse: #d4ed96;
    --peach: #edcd96;
    --sky: #c3eaf2;
}
/* */
body {
	background-image:url('../library/homepic_dk.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
/* */
body {
	margin:0;
	padding:0;
	z-index:-50;
	font-family: 'GillSansMTPro-Light';
}
p {
  margin: 1rem 0;
}
b, a {
	font-family: 'GillSansMTPro-Medium';
	font-weight: bold;
}
h1, h2, h3 {
	a {
		font-family: 'Bison-DemiBold';
	}
}
.text, .wrapper {
	font-size: 1.12rem;
	line-height: 1.6rem;
}
.dropdown-item a {
	font-weight: normal;
}
.navbar a, .footer a {
	font-family: 'GillSansMTPro-Light';
}
a {
	text-decoration: none;
}

h1 {
	font-family: 'Bison-DemiBold';
	font-size: 2.3rem;
  margin: 1rem 0 0.4rem;
	line-height: 2rem;

	&.title {
		background-color: $primary;
		color: white;
		padding: 0.6rem;
		padding-left: 1rem;
		margin: 3rem -1.9rem 2rem;
	}
}
h2 {
	font-family: 'Bison-DemiBold';
	font-size: 1.5rem;
}
/*
h2 + iframe {
	margin-top: 20px;
}
*/
h3 {
	font-family: 'Bison-DemiBold';
	font-size: 1.5rem;
	margin: 2rem 0 0.2rem;
}
.notice {
	margin-top:1.6rem;
	padding:1.4rem 1rem 1.6rem;
	text-align: center;
	border: solid 2px;
	background-color: $backgroundDark;

	h3 {
		margin-top: 0;
	}

	&.blue {
		border-color: #23577e;
		background-color: #c5e3fa;
		color:#23577e;
	}
}
h4 {
	font-family: 'GillSansMTPro-Medium';
	font-size: 1.3rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
ul, ol {
  padding-left: 3rem;
}
.flex {
	flex:1;
}
blockquote {
	margin-left: 2em;
	margin-right: 3em;
	margin-top: 1em;
}

/**************************/
.text {
	margin: 5rem 15%;
	padding: 1rem 1.9rem 2rem;
	clear:both;

	h3 {
		margin-top: 1rem;
	}
}
.wrapper {
/*	width:96%; */
	padding:0.6rem 1.9rem 2rem;
	margin: 3.2rem 15%;
}
.quick-access {
	padding: 0rem;
	margin-bottom: -0.2rem;
	margin-top: 0.2rem;
	font-size: 1.1rem;
}

.content {
	z-index: -10000;
	position: relative;
	min-height: 77.5vh;
/*
	padding-left: 15%;
	padding-right: 15%;
*/
}

p.last {
	padding-bottom: 1rem;
}

.attribute {
	text-align: right;
	margin-bottom: -1.6rem;
}
.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.hide {
}

button { /* Green */
	background-color: $dark;
	border: none;
  color: white;
  padding: 0.3rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
	border-radius: 0.3rem;
	font-family: 'GillSansMTPro-Light';
	font-size: 1.1rem;
}
button:hover {
	transition: background-color 0.3s ease;
	background-color: $primary;
}

.clear {
	clear:both;
}


ul {
	margin-bottom: 0.5rem;

	.tabular {
		list-style-type: none;
		margin-left: 0;
		padding-left: 0;
		margin-top: 1rem;
		line-height: 1.6rem; }
	.tabular li {
		float: left;
		width: 20%;}
}

img {
	float:left;
 	margin: 1rem;
	margin-left: 0rem;

		.alt {
			float:right;
			margin-left: 1rem;
			margin-right: 0rem;
		}
}

.row {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin-right: -2%;

	.col-item {
    flex: 1 0 5rem;
		padding: 0;
			margin-right: 2%;
	}

}
