/***************************************************************** TOP LAYOUT */
.container, .dropdown-inner-container {
	line-height:1.6em;
	margin:0px;
	padding:0px;
	z-index:-50;
	font-family: 'GillSansMTPro-Light';
	font-size: 18px;
}
.container, .navbar, .dropdown-menu, .dropdown-item, .dropdown-inner, .mobile-m10,
.mobile-navbar, .footer, .footer-menu, .footer-item, .footer-right {
	box-sizing: border-box;
}
.container {
	width:100%;
	position: absolute;
	min-height: calc(100vh - 70px);
}
.header {
	width:100%;
	height: 110px;
	z-index: 1;
	background-image: url('../library/hmjg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/********************************************************************* NAVBAR */
.navbar {
	width:100%;
 	position: sticky;
 	top: 0;
}
.navbar ul, .footer ul {
	list-style: none;
	margin: 0px;
	height:100%;
}
.dropdown-menu, .dropdown-item, .dropdown-inner, .dropdown-link, .footer-item,
.footer-right {
	display:flex;
}
.dropdown-menu {
	padding:0px;
	padding-left:15%;
	padding-right:15%;
}
.dropdown-menu h1 {
	font-size: 24px;
}
.dropdown-item {
	display:block;
	transition: color 0.2s;
}
.dropdown-item:hover > .dropdown-inner {
  visibility: visible;
    /* next three lines for new effect */
	transition-delay: 0s, 0s, 0.2s;
	opacity: 1;
	/* background properties for aero	*/
	background-image: url('../library/homepic_bl.jpg');
	background-size: cover;
	background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.3);
	background-blend-mode: overlay;
    /* for slide-down
	transform: translateY(0%); */
		/* old slide-down
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    */
}
.dropdown-item .login {
	color:white;
}
.dropdown-link {
	z-index: 1000;
	padding:14px 18px;
	cursor: pointer;
	font-size: 18px;
	overflow:hidden;
	white-space:nowrap;
}
.dropdown-inner {
	visibility:hidden;
	position:absolute;
	width:100%;
	left:0;
	z-index:-10;
	clear:both;
	padding-bottom:0px;
	margin:0px;
	/* next four lines for new effect */
	opacity:0;
	z-index: -1;
	transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	/*	for slide-down
	transform: translateY(-2em);
	*/
}
.dropdown-inner-container {
	margin-left:15%;
	padding:10px 0px 30px;
}
.dropdown-inner-container div {
	float:left;
}
.dropdown-menu a {
	text-decoration: none;
	transition: color 0.2s;
}
/* Instead of next two items
li.dropdown-item:hover {
	background-color: steelblue;
}
*/
.navbar {
	border-top: 4px solid;
}
.dropdown-item {
	border-top: 4px solid;
	margin-top: -4px;
}
.dropdown-item:hover {
	border-top: 4px solid;
}

/********************************************************************* FOOTER */
.footer {
	height: 60px;
	z-index: -100;
}
.footer a {
	transition: color 0.2s;
	text-decoration: none;
}
.footer-menu {
	margin: 0px;
	padding: 0px;
	padding-right: 15%;
	padding-left: 15%;
}
.footer-item {
	padding: 15px;
	float:left;
}
.footer-right {
	padding: 15px;
	float:right;
}

/******************************************************************** AERO NAV*/
.navbar.aero-bg {
	width:100%;
	top: 110;
	height: 61px;
	z-index: -1;
	/*
		-webkit-filter: blur(5px);
		filter: blur(5px);
	*/
	background-attachment: fixed;
	background-image:url('../library/homepic_bl.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar.aero {
	margin-top: -61px;
}

/********************************************************************** OTHER */
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}
