:root {
    --turquoise: #54aba5;
    --duskrose: #ab5482;
    --bronze: #ab9454;
    --lilac: #c7c3f2;
    --bubblegum: #edbfe8;
    --chartreuse: #d4ed96;
    --peach: #edcd96;
    --sky: #c3eaf2;
}
/* */
body {
	background-image:url('/sandbox/scratchwork/library/homepic.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
/* */
body, .container, .dropdown-inner-container {
	margin:0px;
	padding:0px;
	z-index:-50;
	font-family: 'GillSansMTPro-Light';
	font-size: 18px;
	line-height:1.5em;
}
b {
	font-family: 'GillSansMTPro-Bold';
}

h1 {
	font-family: 'Bison-DemiBold';
	font-size: 36px;
}
h2 {
	font-family: 'Bison-DemiBold';
	font-size: 24px;
}
.dropdown-menu h1 {
	font-size: 24px;
}
.container, .navbar, .dropdown-menu, .dropdown-item, .dropdown-inner, .mobile-m10,
.mobile-navbar, .footer, .footer-menu, .footer-item, .footer-right {
	box-sizing: border-box;
}
.container {
	width:100%;
	position: absolute;
	min-height: calc(100vh - 70px);
}
.header {
	width:100%;
	color: white;
	font-size: 2rem;
	text-align: center;
	z-index: 1;
	background-color: darkseagreen;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	background-color: darkseagreen;
}
.navbar {
	width:100%;
	color:grey;
 	position: sticky;
 	top: 0;
}
.navbar-bg {
	width:100%;
	position: absolute;
	top: 0;
	height: 110px;
	z-index: -1;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	background-attachment: fixed;
	background-image:url('/sandbox/scratchwork/library/homepic.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.navbar-bg-color {
	width:100%;
	position: absolute;
	top: 0;
	height: 110px;
	z-index: -1;
 	background-color: black;
 	opacity: 0.1;
}
.navbar ul, .footer ul {
	list-style: none;
	margin: 0px;
	height:100%;
}
.dropdown-menu, .dropdown-item, .dropdown-inner, .dropdown-link, .footer-item,
.footer-right {
	display:flex;
}
.dropdown-menu {
	padding:0px;
	padding-left:15%;
	padding-right:15%;
}
.flex {
	flex:1;
}
.dropdown-item {
	display:block;
	transition: color 0.2s;
}
.dropdown-item:hover {
	color:lightpink;
}
.dropdown-item:hover > .dropdown-inner {
    visibility: visible;
    /* next three lines for new effect */
	transition-delay: 0s, 0s, 0.2s;
	opacity: 0.8;
    /* for slide-down
	transform: translateY(0%); */
	/* old slide-down
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    */
}
.dropdown-link {
	z-index: 1000;
	padding:14px 18px;
	cursor: pointer;
	font-size: 18px;
	overflow:hidden;
	white-space:nowrap;
}
.dropdown-inner {
	visibility:hidden;
	position:absolute;
	width:100%;
	left:0;
	z-index:-10;
	clear:both;
	background-color: black;
	color:white;
	padding-bottom:0px;
	margin:0px;
	/* next four lines for new effect */
	opacity:0;
	z-index: -1;
	transition: all 0.2s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	/*	for slide-down
	transform: translateY(-2em);
	*/
}
.dropdown-inner-container {
	margin-left:15%;
	padding:10px 0px 30px;
}
.dropdown-inner-container div {
	float:left;
}
.dropdown-menu a {
	text-decoration: none;
	transition: color 0.2s;
	color: white;
}
.dropdown-inner a {
	color: darkseagreen;
}
.dropdown-inner a:hover {
	color:violet;
}
.navbar {
 	background-color: steelblue;
}
.header, .logo {
	background-color: darkseagreen;
}
.navbar li.active {
	border-color: violet;
}
/* Instead of next two items
li.dropdown-item:hover {
	background-color: steelblue;
}
*/
li.dropdown-item:hover {
	border-top: 4px violet solid;
}
li.dropdown-item {
	border-top: 4px steelblue solid;
}
/**************************/
.content {
	z-index: -10000;
	position: relative;
	min-height: 77.5vh;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 20px;
}
.footer {
	background-color:#464646;
	height: 60px;
	z-index: -100;
}
.footer a {
	color: gold;
	transition: color 0.2s;
	text-decoration: none;
}
.footer a:hover {
	color: coral;
}
.footer-menu {
	padding: 0px;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0px;
}
.footer-item {
	padding: 15px;
	float:left;
}
.footer-right {
	padding: 15px;
	float:right;
}
