@import '../../styles/colors';

.scs-selection-options {
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  .scs-selection-option {
    flex: 1 0 5rem;
    padding: 0.5rem;
    margin: 0rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: $primary;
    color: white;
    font-family: 'GillSansMTPro-Bold';
    text-align: center;

    &.selected {
      background-color: $success;
    }
  }
}

.scs-dropdown {
  font-size: 1rem;
  background-color: white;
  margin-left: 0.5rem;
}

.scs-selectionTable {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .scs-selectionTable-header, .scs-selectionTable-row {
    flex: 1;
    display: flex;
  }

  .scs-selectionTable-header {
    font-family: "GillSansMTPro-Bold";
    border-bottom: 2px solid black;
  }

  .scs-selectionTable-row {
    padding: 0.5rem 0rem;
    border-bottom: 1px solid black;
  }

  .scs-selectionTable-cell {
    flex: 1;
    display: flex;

    &.cell-sm {
      flex: 0 0 5rem;
    }
  }

  .scs-selectionTable-select {
    background-color: $primary;
    color: white;
    margin: 0rem 0.5rem;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .scs-selectionTable-create {
    flex: 1;
    border-radius: 0.5rem;
    border: 1px solid $primary;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
  }
}
