{% set title = "location" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>Winners' Concert and Award Ceremony</h1>

		    <p><b>Sunday, December 15, 2019 at 2pm</b><br/>
		    	Claudia Cassidy Theater<br/>
				Chicago Cultural Center (2nd floor)<br/>
				78 E. Washington Ave.<br/>
				Chicago, IL 60602</p>

			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1485.2116206490332!2d-87.62495200000004!3d41.883754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2ca5b948341f%3A0x32cea0c47409f03f!2sChicago+Cultural+Center!5e0!3m2!1sen!2sus!4v1415670763792" width="400" height="300" frameborder="0" style="border:0"></iframe>

		</div>

	{% endblock %}
