{% set title = "required repertoire" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>2019 Required Repertoire</h1>

			<p><b>All pieces are provided as downloadable PDF files</b>.</p>
			<p>The 2019 Music Competition will be using an updated list of repertoire pieces from previous years. <b>Individual division repertoire collections are $5 each</b>. Full violin or piano repertoire collections are additionally available for $10. Violin pieces include solo part and score.</p>
			<p>Please note that students must play the required piece appropriate for the division in which s/he will compete.</p>
			<p>Purchases may be made through PayPal (links provided below).  Once you have made a purchase, an email will automatically be sent to you with a download link for your music.  If you do not receive a download link within fifteen minutes, please email us at sejong@sejongculturalsociety.org.</p>
			<p class="last"><b>If you would like to purchase repertoire for a future competition, please email sejong@sejongculturalsociety.org - DO NOT purchase the previous year's repertoire.</b></p>


			<table class="repertoire">
				<tr>
					<th rowspan="5" width="10%" class="green">Piano</th>
					<td><b>Complete</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=5FNAZY3GNUUSQ">purchase</a> | $10</td>
					<td>Complete piano repertoire</td>
				</tr>
				<tr>
					<td><b>Senior</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=48TWVTY6F3UTC">purchase</a> | $5</td>
					<td><a name="pianorep" id="pianorep"></a>
						Arirang Fantasia - Thomas Cha<br/>
						Bluebird Variations - Jeannette Chechile<br/>
						Arirang Variations: Theme and Var. VII - Hong Seung Ki<br/>
						Mongeumpo Taryeong - Daiwei Lu<br/>
						Blue Wave: On a Theme of Arirang - Heeyoung Yang<br/>
						Parting is Such Sweet Sorrow - Heeyoung Yang
					</td>
				</tr>
				<tr>
					<td><b>Junior</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4XTQVRBJN359A">purchase</a> | $5</td>
					<td>Meamilmoog Saryeu - Eli Bonninger<br/>
						Qwe-Ji-Na Ching-Ching Na-Ne - Misook Kim<br/>
						A Meandering Path - Heeyoung Yang
					</td>
				</tr>
				<tr>
					<td><b>Elementary</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=E6EK7EYS9YENA">purchase</a> | $5</td>
					<td>
						Rang, Rang - Eun Young Lee<br/>
						Balloonflower Waltz in Wonderland - Heeyoung Yang
					</td>
				</tr>
				<tr>
					<td><b>Primary</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=ARAQ6U4PRYRXU">purchase</a> | $5</td>
					<td>
						Jindo Arirang - Jung Yoon Wie<br/>
						Flowers - Lawrence Lee<br/>
						Fun is Here - Lawrence Lee
					</td>
				</tr>
				<tr>
					<th rowspan="5" style="border-top-width: 2px;" class="green">Violin</th>
					<td style="border-top-width: 2px;"><b>Complete</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=J8NEMET3E9QBS">purchase</a> | $10</td>
					<td style="border-top-width: 2px;">
						Complete violin repertoire</td>
				</tr>
				<tr>
					<td><b>Senior</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4DBJNYZJB2U34">purchase</a> | $5</td>
					<td><a name="violinrep" id="violinrep"></a>
						JOY of Ong-He-Ya - Misook Kim<br/>
						Ta-Ryung I - Eun Young Lee<br />
						Chant de L'oiseau - Min Jong Park
					</td>
				</tr>
				<tr>
					<td><b>Junior</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=LU5MBLEXJD3G2">purchase</a> | $5</td>
					<td>
						Sa-Ta-Ryung (Bird Song) - Andrew Gresko<br/>
						Milyang Arirang - Insik Lee<br/>
						Folly Flower - Adam Montenegro
					</td>
				</tr>
				<tr>
					<td><b>Elementary</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=4T8XN43BKJS4G">purchase</a> | $5</td>
					<td>
						Blue Bird's Journey - Timothy Balton<br/>
						BirdSong - Matthew Bardin<br/>
						Ari Ari - Eun Young Lee
					</td>
				</tr>
				<tr>
					<td><b>Primary</b><br/>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=38QEDSHAANRX8">purchase</a> | $5</td>
					<td>
						Amazing Arirang - Heeyoung Yang<br/>
						Lullaby - Heeyoung Yang<br/>
						Nori - Heeyoung Yang<br/>
						Seen My Flower, Seen My Friend? - Heeyoung Yang
					</td>
				</tr>
			</table>

		</div>

	{% endblock %}
