{% set title = "how to write sijo" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>A Brief introduction to sijo</h1>

			<p class="last center">For more information about sijo, please visit our <a href="#">Resources section</a> or check out our <a href="#">Sijo Events</a>.</p>

		    <p>The <b>sijo</b> (Korean 시조, pronounced SHEE-jo) is a traditional three-line Korean poetic form typically exploring cosmological, metaphysical, or pastoral themes. Organized both technically and thematically by line and syllable count, sijo are expected to be phrasal and lyrical, as they are first and foremost meant to be songs.</p>
		    <p class="last"><b>Sijo are written in three lines, each averaging 14-16 syllables for a total of 44-46 syllables. Each line is written in four groups of syllables that should be clearly differentiated from the other groups, yet still flow together as a single line.</b> When written in English, sijo may be written in six lines, with each line containing two syllable groupings instead of four. Additionally, as shown in the example below, liberties may be taken (within reason) with the number of syllables per group as long as the total syllable count for the line remains the same.</p>

		    <ol type="1">
				<li>The <b>first line</b> is usually written in a <b>3-4-4-4</b> grouping pattern and states the <b>theme</b> of the poem, where a situation generally introduced. </li>
		    	<li>The <b>second line</b> is usually written in a <b>3-4-4-4</b> pattern (similar to the first) and is an <b>elaboration</b> of the first line's theme or situation (development).</li>
		    	<li>The <b>third line</b> is divided into two sections. The first section, the <b>counter-theme</b>, is grouped as <b>3-5</b>, while the second part, considered the <b>conclusion</b> of the poem, is written as <b>4-3</b>. The counter-theme is called the 'twist,' which is usually a surprise in meaning, sound, or other device.</li>
			</ol>

			<div class="center">
				<h3>Example: excerpt from "Song of my five friends"</h3>
		      	<h2>Yun Seondo (1587-1671)</h2>
			    <p>You ask how many friends I have? Water and stone, bamboo and pine. <b>(2-6-4-4)</b><br />
					The moon rising over the eastern hill is a joyful comrade. <b>(2-4-4-6)</b><br />
					Besides these five companions, what other pleasure should I ask? <b>(2-5, 5-3)</b></p>
			</div>

		</div>

	{% endblock %}
