{% set title = "rules and requirements" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>Divisions and Repertoire Requirements</h1>
			<h2>Sunday, November 17th, 2019, at the University of Illinois of Chicago</h2>

			<h3>Divisions</h3>
			<ul>
				<li><b>Senior</b> (grades 9-12)</li>
				<li><b>Junior</b> (grades 6-8)</li>
				<li><b>Elementary</b> (grades 3-5)</li>
				<li><b>Primary</b> (grade 2 and younger)</li>
			</ul>

			<h3>Rules</h3>
			<ul>
				<li>All students must perform two pieces - one piece of his/her choice (<b>performed from memory and without repeats</b>; see below for further details) and one piece from the required repertoire list (music allowed). More information, including a list of the required pieces and purchasing information, can be found on our <a href="/music/current/repertoire.php">required repertoire page</a>.
					<ul>
						<li>Piano division: one solo piece of the student's choice</li>
						<li>Violin division: one piece for violin and piano <b>or</b> the first or third movement from any concerto</li>
					</ul>
				</li>
				<li>Students may compete in higher divisions than their normal group. Students must play the required piece appropriate for the division in which they will compete.</li>
				<li>From each of the eight divisions the judges will select the student(s) with the best interpretation of his/her required repertoire. Each winner will receive an award (see below). These winners are selected independently of the overall winners.</li>
				<li>Judges may not hear pieces in their entirety due to time constraints. Approximate time limits for contestants is as follows:
					<ul>
						<li>Senior division: 9 minutes</li>
						<li>Junior division: 9 minutes</li>
						<li>Elementary division: 6 minutes</li>
						<li>Primary division: 6 minutes</li>
					</ul>
				</li>
				<li>Application fee ($50) and application must be submitted by 11:59pm CST October 31, 2019. Applications must be submitted using our online registration system. <b>Application fees are non-refundable.</b></li>
				<li>If you have a scheduling conflict with the competition, please let us know as soon as possible.  We will take into consideration requests for time on a first-come basis.</li>
			</ul>

			<h3>Additional Rules</h3>
			<ul>
				<li>One clean copy of the original music score and two clean photocopies must be provided for the judges. <b>Contestants who fail to provide three total copies of the score will not be allowed to compete.</b> Please number measures at the beginning of each line.</li>
				<li>First prize winners may not compete in the same division in the following years.</li>
				<li>All judges' decisions are final.</li>
				<li>Prizes may not be awarded at the judges' discretion. </li>
				<li>The competition will not provide an accompanist but can recommend pianists upon request.  The contestant is responsible for arranging rehearsals and paying expenses for the accompanist.</li>
				<li>Information regarding winners and the winners' concert will be announced immediately after the competition on this website and in the <em>Korea Times Chicago</em>.</li>
			</ul>


			<h3>Prizes</h3>
			<ul>
				<li>Senior division: first ($500), second ($400), third ($300), <br />
				  best interpretation of Korean music ($300)</li>
				<li>Junior division:  first ($300), second ($200), third ($100), <br />
				  best interpretation of Korean music ($100)</li>
				<li>Elementary division:  first ($150), second ($100), third ($75), <br />
				  best interpretation of Korean music ($75)</li>
				<li>Primary division: first ($100), second ($75), third ($50),<br />
				  best interpretation of Korean music ($50)</li>
				<li>Winners may additionally be contacted for future performance opportunities.</li>
			</ul>

			<h3>Sponsoring Organizations</h3>
			<ul class="last">
				<li>Korea Times of Chicago (co-host)</li>
				<li>Doosan Yonkang Foundation</li>
				<li>Seoul National University Alumni Association in Chicago Area</li>
				<li>University of Illinois at Chicago</li>
			</ul>

			<p>Please feel free to email any questions to <b>sejong@sejongculturalsociety.org</b>.</p>

		</div>

	{% endblock %}
