@import './styles/reset';
@import 'styles/colors';

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, input{
  font-family: Arial;
  font-size: 12px;
}

.header {
    height: 4rem;
    display: flex;
    flex-direction: row-reverse;
    background-color: $primary;
    align-items: center;
    padding: 0rem 1rem;
}

#auth {
  color: white;
}

.hello {
  color: $blue;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.scs-button {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: $lightAccent;
  width: 5rem;
  text-align: center;
  align-self: center;
}
