{% set title = "about the sejong cultural society" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<img src="http://sejongculturalsociety.org/images/newsite/about.jpg" class="page-banner" />

				 	<!-- <img src="http://sejongculturalsociety.org/images/Picture-259.jpg"  style="margin-left: -1.86rem; margin-bottom:5rem; width: 105.6%" />
					<img src="http://sejongculturalsociety.org/images/Picture-364.jpg" style="margin-left: -1.86rem; margin-top:0; margin-bottom:5rem; width: 105.6%" /> -->

		<div class="wrapper banner">
			<h1>About the Sejong Cultural Society</h1>
				<p>Based in Chicago, IL, the Sejong Cultural Society was founded in 2004. It is a 501(c)(3) not-for-profit organization.</p>

			<h3>Mission</h3>
				<p>The Sejong Cultural Society strives to advance awareness and understanding of Korea's cultural heritage amongst people in the  United States by reaching out to the younger generations through contemporary  creative and fine arts. </p>
				<p>It is our hope that, through this, the rich culture  behind Korea's colorful history will be accessible to people of any ethnicity  and nationality while being a unique part of the larger, more familiar Western  culture, and that such harmonizing of the two cultures will create a better  understanding between them.</p>

			<h3>Programs</h3>
				<p><a href="/music/current/index.php">Music Competition</a> - The Sejong Music Competition seeks to both encourage talented pre-college musicians in their studies and introduce traditional Korean musical themes to young musicians.  Using entries to the Sejong Prize and contemporary pieces commissioned to various Korean and non-Korean composers, applicants to our competition have a chance to experience Korean music.</p>
				<p><a href="/writing/current/index.php">Writing Competition</a> - The Sejong Writing Competition is open to all regardless of age, and is divided into two categories:</p>
					<blockquote>
							<p>Focusing on introducing students to Korean culture and history through literature, our <b>essay category </b>utilizes folk tales and contemporary literature to explore Korean culture, past and present.  This category is only open to students and adults age 30 and younger.</p>
							<p>Our <b>sijo competition </b>brings the sijo, a classic example of traditional Korean fine arts, to a modern English-speaking audience as a unique form of poetry.  Poets of all ages may apply to this category.</p>
					</blockquote>
				<p><a href="/composition/current/index.php">Sejong Prize</a> - Traditional Korean music contains many unique elements. The Sejong Prize, formerly the Sejong Music Composition Competition, encourages composers to explore these elements and incorporate them into their compositions to create contemporary pieces for Western instruments that evoke Korean themes. Using these pieces in numerous performances organized by the Sejong Cultural Society and our Music Competition, we hope to bring the world of Korean music not only to composers, but performers and listeners as well.</p>
				<p><b>Sijo programs</b> - In our mission to bring the sijo to the United States as a mainstream form of poetry, we have expanded from our sijo writing competition to create various sijo programs for audiences of all types.</p>
				 	<blockquote>
							<p>Our annual <b>sijo workshop for educators</b> was held in Chicago and has now moved to Indianapolis in collaboration with the University of Indiana and the National Consortium for Teaching About Asia.</p>
							<p>Through our <b>sijo and music</b> program, we hope to not only engage with students and young adults using popular mainstream music but also to demonstrate how sijo were traditionally written as songs.</p>

		</div>

	{% endblock %}
