{% set title = "board and committees" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>Organization</h1>

				<h3>Officers</h3>
					<p><b>President</b>: You Sim Kim <br />
					<b>Vice President</b>: Sook Park <br />
					<b>Secretary</b>: Mark Choh <br />
					<b>Treasurer</b>: Esther Yang <br />
					<b>Executive Director</b>: Lucy Park<br/>
					<b>Chairman of the Board</b>: Ho B. Kim<br />
					<b>Past President</b>: Juliana Chyu*</p>

				<h3>Board of Directors</h3>
					<ul class="tabular">
						<li>Joong Choh</li>
						<li>Mark Choh</li>
						<li>Sara Youn Choh</li>
						<li>Yonhee Park Han </li>
						<li>James K. Hahn </li>
						<li>Hyunil Juhn*</li>
						<li>Ho B. Kim*</li>
						<li>Hyaesung Kim</li>
						<li>You Sim Kim</li>
						<li>Young-kee Kim</li>
						<li>Joann Kwak-Kim</li>
						<li>Lucy Park</li>
						<li>Sook Park</li>
						<li>Mark Peterson</li>
						<li>Esther Yang</li>
					</ul>
				<div class="clear"></div>
				<p><em>* past president</em></p>

				<h3>Honorary Board</h3>
					<ul class="tabular">
						<li>Andrew Bae</li>
						<li>Young Kang</li>
						<li>Byung Yoon Kim</li>
						<li>Richard Kim</li>
						<li>Kyung Koo</li>
						<li>Aesop Rhim</li>
						<li>Edward Kwan Hun Rim</li>
						<li>Chi Yong Whang</li>
					</ul>
				<div class="clear"></div>

				<h3>Committees</h3>
				<p><b>Writing Competition Planning Committee</b>:<br />
					Heinz Insu Fenkl (State University of New York at New Paltz, NY), <em>chair</em> <br />
					Bruce Fulton (University of British Columbia, Vancouver, Canada)<br />
					Seong-Kon Kim (Seoul National University, Korea)<br />
					Young-Min Kwon (Seoul National University, Korea)<br />
					David McCann (Harvard University, Cambridge, MA)<br />
					Mark Peterson (Brigham Young University, Provo, UT)<br />
					Martha Vickery (<em>Korean Quarterly</em>, St. Paul, MN)</p>
				<p><b>Music Competition Planning Committee</b>: <br />
					Kay Kim (Northwestern University, Evanston, IL), <em>chair</em><br />
					So Young Bae (Chicago Symphony Orchestra, Chicago, IL)<br />
					Sojung Hong (Judson University, Elgin, IL)<br />
					Jeong Soo Kim (Nothern Illinois University, Decatur, IL)<br />
					Misook Kim (Wheaton Conservatory, Wheaton, IL)</p>
				<p><b>Music Composition Competition Planning Committee</b>: <br />
					David Ludwig (Curtis Institute, Philadelphia, PA), <em>chair</em><br />
					Shinuh Lee (Seoul National University, Seoul, Korea)<br />
					Arlene Sierra (Cardiff University, Cardiff, Wales, UK)<br />
					Efstratios Minakakis (New England Conservatory, Boston, MA)<br />
					Hi Kyung Kim (University of California at Santa Cruz, Santa Cruz, CA)<br />
					Geonyong Lee (Korean National University of Arts, Seoul, Korea)<br />
					Younghi Pagh-paan (University of Arts Bremen, Bremen, Germany)</p>

				<h3>Advisory Council</h3>
					<p>Yumi Hwang-Williams (Colorado Symphony Orchestra)<br/>
					Hi Kyung Kim (University of California at Santa Cruz)<br/>
					Chang Keun Lee (Kwangwoon University)<br/>
					Geon-yong Lee (Korean National University of Arts)<br/>
					Yong Hi Moon (Peabody Conservatory)<br/>
					Nancy Park (Chicago Symphony Orchestra)<br/>
					Desir&eacute;e Rustrat (Northwestern University)</p>

			<div class="clear"></div>

		</div>

	{% endblock %}
