{% set title = "contact" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<img src="http://sejongculturalsociety.org/images/newsite/contact.jpg"  class="page-banner" />

		<div class="wrapper banner">

			<h3>The Sejong Cultural Society</h3>
			<p>606 Forest Road<br />
				Glenview, IL 60025</p>
			<p><b>Phone</b>: 312.497.3007</p>
			<p><b>General contact</b>: sejong@sejongculturalsociety.org<br/>
				<b>Writing competition</b>: writing@sejongculturalsociety.org</p>

		</div>

	{% endblock %}
