{% set title = "about king sejong" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<img src="http://sejongculturalsociety.org/images/newsite/king-sejong.jpg"  class="page-banner" />

		<div class="wrapper banner">

			<h1>King Sejong the Great</h1>
			<h2>(1397-1450 AD)</h2>

			<img src="http://sejongculturalsociety.org/mediafiles/about/kingsejong.jpg" alt="King Sejong the Great" style="margin-bottom:2rem;"/>
			<p><b>King Sejong the Great</b> (&#49464;&#51333;&#45824;&#50773;) was the fourth ruler of the Chosun Dynasty of Korea, honored for his humanity, vision, and his contribution to Korean culture. Under his guidance, the Korean alphabet hangul was created to replace the borrowed Chinese system of writing. Hangul also enabled the easy use of movable metal type, which had been invented in Korea 200 years before it was introduced in Europe, although it had been restricted due to the complexity of the Chinese alphabet. His other inventions include the rain gauge, striking water clocks, and the sun dial. He also initiated the development of musical notation for Korean and Chinese music.</p>
			<p>Sejong additionally established a national academy (&#51665;&#54788;&#51204;, &#38598;&#36066;&#27583;, Jip-hyun-jun, literally 'Hall of Wise Men') where he invited scholars from all over Korea to study; together they compiled books on various topics including poetry, music, medicine, and meteorology.</p>

			<div class="clear"></div>

		</div>

	{% endblock %}
