{% set title = "adult essay competition | sejong writing competition" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			{% include "../../templates/_swcEssay.njk" %}

			<h1>Adult essay competition</h1>
			<h2>age 30 and younger</h2>

			<h3>Prompt</h3>
				<p><b>Topic</b>: "O. Cuniculi" by Pyun Hye-young</p>
				<p>Along with Han Kang and Jo Kyung-ran, Pyun Hye-young is among a group of new "international" Korean women writers whose work is characterized by its exploration of the darker aspects of contemporary society. Pyun is often compared to Western writers like Kafka and Camus, and to the Japanese writer Haruki Murakami. "O. Cuniculi" is a very representative Pyun story, which can be read on many levels as allegory, psychological realism, social criticism, and even surrealism. What is it about the story that you find most powerful, and what insight does the story provide into Korean society (or society in general)? You may draw comparisons with other writers or provide a close reading of the story on its own terms. Be sure to explain the reason for your interpretation or comparison. </p>

			<div class="row">
				<div class="col-item">
					<h3>Read</h3>
						<div data-configid="5251467/64637475" style="width:100%; height:400px; margin-top:1rem" class="issuuembed"></div>
						<script type="text/javascript" src="//e.issuu.com/embed.js" async="true"></script>
				</div>
				<div class="col-item">
					<h3>About the author</h3>
						<p><b>Pyun Hye-young</b> was born in 1972 in Seoul, South Korea. She began publishing in 2000 and published three collections of stories, <em>Aoi Garden, To the Kennels,</em> and <em>Evening Courtship</em>, and the novel <em>Ashes and Red</em>. <em>To The Kennels</em> was the recipient of the fortieth Hankook Ilbo Literary Award in 2007; <em>Evening Courtship</em> won the prestigious Dong-in literary award in 2011; and the short story "O. Cuniculi" won the tenth Yi Hyo-seok Literature Prize in 2009 and the Today's Young Writer Award in 2010.</p>
				</div>
			</div>

		</div>

	{% endblock %}
