{% set title = "hello writing" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}
		<div class="wrapper">

			<h1>The 2019 Writing Competition is now open.</h1>
	    <h2>Deadline: March 31, 2019 (11:59pm CDT)</h2>

			<!--
	    <h4 style="text-align:center; margin:30px 0px"><a href="/writing/competition/index.php">applications</a><br/>
	    <a href="/writing/current/sijo.php">sijo competition</a> | <a href="/writing/current/essay.php">essay competition</a></h4>

	    <div style="clear:both; border-bottom: 1px grey solid; width: 105.6%; padding-top: 10px; margin-bottom: 10px; margin-left: -30px; margin-right: -60px;"></div>
			-->

			<div style="width: 50%; float:left;">
	    <h4><a href="/writing/current/essay.php">Essay category</a></h4>
	    	<p>Focusing on introducing students and young adults to Korean culture and history through literature, our essay category utilizes folk tales and contemporary literature to explore Korean culture, past and present.</p>
	    	<blockquote>
	            <p><b>Adult division</b> (age 30 and younger): Contestants are to read Pyun Hye-young's short story "O. Cuniculi" and write an essay in response to the provided prompt. <br/><b>Please note the age limit for this division has been increased to age 30.</b>
	            <p><b>Senior division</b> (grade 12 and younger): Contestants are to read Yi Mun-yol's novella <em>An Appointment with His Brother</em> and write an essay in response to the provided prompt.</p>
	            <p><b>Junior division</b> (grade 8 and younger): Contestants are to write an essay in response to one of two provided topics regarding a folktale of the contestant's choice. Contestants must choose one of the stories listed <a href="/writing/current/folktales.php">on our folktales page</a>. <br/><b>Please note that the prompts are slightly different for the 2019 competition.</b></p>
	        </blockquote>
			</div>
			<div style="width:50%; float:left;">
			<h4><a href="/writing/current/sijo.php">Sijo category</a></h4>
	        <div style="border:solid 2px #23577e; background-color: #c5e3fa;margin-top:25px;padding:0px 10px 25px;text-align: center;"><h4 style="margin-top:15px;color:#23577e;">New this year! Adult sijo division</h4></div>
	        <p>We are delighted to announce our <b>adult sijo division</b>, open to everyone age 19 and older. Our <b>pre-college division</b> will still be open to students age 18 and younger. Please find updated prize information on our <a href="/writing/current/sijo.php">sijo competition page</a>.</p>
	    	<p>One division open to students grade 12 and younger: Created in collaboration with the Korea Institute at Harvard University, the goal of our sijo category is to introduce students to a lesser-known style of poetry, the traditional Korean sijo. Read about <a href="/writing/current/resources/sijo_guide.php">how to write sijo</a>, or see <a href="/writing/past/2018/winners/sijo.php">last year's winning entries</a>.</p>
			</div>

	    <div style="clear:both; border-bottom: 1px grey solid; width: 105.6%; padding-top: 30px; margin-bottom: -30px; margin-left: -30px; margin-right: -60px;"></div>

	    <h4 style="padding-top: 30px;"><a href="apply.php">Registration and applications</a></h4>
	        <p>Regarding our <a href="/writing/current/apply.php">online application system</a>, we would like to remind students that they may edit their entries and applications until the competition deadline.</p>
	        <p>For information regarding teacher accounts, please see our <a href="/writing/competition/teacherIntro.php">teacher information page</a>.</p>
	        <p>We would like to stress that all personal information is kept strictly confidential and no information is shared with parties outside of the Sejong Cultural Society. Please email any questions or concerns to <a href="mailto:writing@sejongculturalsociety.org">writing@sejongculturalsociety.org</a>. We welcome and appreciate feedback of any kind.</p>

	    <div style="clear:both; border-bottom: 1px grey solid; width: 105.6%; padding-top: 30px; margin-bottom: 5px; margin-left: -30px; margin-right: -60px;"></div>

			<div style="float:left; width:31%;">
	    <h4>Mission</h4>
	    	<p>The goals of the Sejong Writing Competition are to discover children and young adults talented in writing and to encourage them to learn and write about Korean and its culture. Through this writing competition we hope to increase the awareness and understanding of Korea’s cultural heritage amongst the younger generations growing up in the United States.</p>
			</div>

			<div style="float:left; width:31%; margin-left:4%;">
			<h4>Eligibility</h4>
	    	<p>This competition is open to all residents of the US and Canada regardless of ethnic background. </p>
			</div>

			<div style="float:right; width:31%;">
	    <h4>Sponsors</h4>
	        <p>The Sejong Writing Competition is supported in part by  grants from the <a href="http://klti.or.kr/e_main.do">LTI Korea</a>, the <a href="http://daesan.or.kr/eng/intro.html?html=intro2.html">Daesan Foundation</a>, the <a href="http://www.yonkang.org/en/insideDoosan.do?cmd=viewInsideDoosan&no=20081211113546779089">Doosan Yonkang Foundation</a>, and the <a href="http://intl.aks.ac.kr/english/portal.php">Academy of Korean Studies</a>.</p>
				</div>

			<div style="clear:both;"></div>

		</div>
	{% endblock %}
