{% set title = "sejong writing competition" %}
{% set section = "writing" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<img src="http://sejongculturalsociety.org/images/newsite/writing.jpg" class="page-banner" />
		<div class="wrapper banner">

			<h1>The 2019 Writing Competition is now closed.</h1>
	    	<h2>Deadline: March 31, 2019 (11:59pm CDT)</h2>

			<div class="notice blue">
				<h3>2019 Results</h3>
				<p>The 2019 Sejong Writing Competition results have been announced.  Congratulations to the winners and thank you to everyone who participated!</p>
				<p><a href="#">Essay results</a> | <a href="#">Sijo results</a> | <a href="#">Judges</a> | <a href="#">Winning entries</a></p>
			</div>
			<div class="row">
				<div class="col-item">
			    <h3><a href="essay.html">Essay category</a></h3>
			    	<p>Focusing on introducing students and young adults to Korean culture and history through literature, our essay category utilizes folk tales and contemporary literature to explore Korean culture, past and present.</p>
			    	<blockquote>
			            <p><a href="adult.html">Adult division</a> (age 30 and younger)<br/>
							Contestants are to read Pyun Hye-young's short story "O. Cuniculi" and write an essay in response to the provided prompt. <b>Please note the age limit for this division has been increased to age 30.</b></p>
			            <p><a href="senior.html">Senior division</a> (grade 12 and younger)<br/>
							Contestants are to read Yi Mun-yol's novella <em>An Appointment with His Brother</em> and write an essay in response to the provided prompt.</p>
			            <p><a href="junior.html">Junior division</a> (grade 8 and younger)<br/>
							Contestants are to write an essay in response to one of two provided prompts regarding a folktale of the contestant's choice. Contestants must choose one of the stories listed on our folktales page. <b>Please note that the prompts have changed for the 2019 competition.</b></p>
			        </blockquote>
				</div>
				<div class="col-item">
					<h3><a href="sijo.html">Sijo category</a></h3>
			        <h3 class="notice blue">New this year! Adult sijo division</h3>
			        <p>We are delighted to announce our <b>adult sijo division</b>, open to everyone age 19 and older. Our <b>pre-college division</b> will still be open to students age 18 and younger. Please find updated prize information on our <a href="sijo.html">sijo competition page</a>.</p>
			    	<p>Created in collaboration with the Korea Institute at Harvard University, the goal of our sijo category is to introduce students to a lesser-known style of poetry, the traditional Korean sijo. Read about <a href="#">how to write sijo</a>, or see <a href="#">last year's winning entries</a>.</p>
				</div>
			</div>

    		<div class="clear"></div>

			<h3>Submissions</h3>
	        <p>To submit an entry, please <a href="apply.php">register and apply online</a>.  We would like to remind students that they may edit their entries and applications until the competition deadline.</p>
	        <p>For information regarding teacher accounts, please see our <a href="teachers.html">teacher information page</a>.</p>
	        <p>We would like to stress that all personal information is kept strictly confidential and no information is shared with parties outside of the Sejong Cultural Society. Please email any questions or concerns to <a href="mailto:writing@sejongculturalsociety.org">writing@sejongculturalsociety.org</a>. We welcome and appreciate feedback of any kind.</p>

			<div class="clear"></div>

	    	<h3>About</h3>
	    	<p>The Sejong Writing Competition was created in 2006 as a pre-college essay competition, with the addition of the sijo category in 2008 before also expanding to adult divisions.  Since then, our competition has grown to regularly receive roughly two thousand entries each year from writers throughout the United States, Canada, and US Territories.</p>
			<p>The goal of the Sejong Writing Competition is to introduce Korean culture to Americans and Canadians by using the writing medium to connect with poets and young writers.    Focusing on introducing students to Korean culture and history through literature, our essay category utilizes folk tales and contemporary literature to explore Korean culture, past and present. Our sijo competition brings the sijo, a classic example of traditional Korean fine arts, to a modern English-speaking audience as a unique form of poetry.</p>

			<div class="row">
				<div class="col-item">
					<h3>Eligibility</h3>
			    	<p>This competition is open to residents of the US and Canada regardless of ethnic background. The essay competition is open to writers age 30 and younger.  The sijo competition is open to poets of all ages.</p>
				</div>

				<div class="col-item">
			    	<h3>Sponsors</h3>
			        <p>The Sejong Writing Competition is supported in part by  grants from the <a href="http://klti.or.kr/e_main.do">LTI Korea</a>, the <a href="http://daesan.or.kr/eng/intro.html?html=intro2.html">Daesan Foundation</a>, the <a href="http://www.yonkang.org/en/insideDoosan.do?cmd=viewInsideDoosan&no=20081211113546779089">Doosan Yonkang Foundation</a>, and the <a href="http://intl.aks.ac.kr/english/portal.php">Academy of Korean Studies</a>.</p>
				</div>
			</div>

			<div style="clear:both;"></div>

			<p class="center">If you have any questions, feel free to contact us at <a href="mailto:sejong@sejongculturalsociety.org">sejong@sejongculturalsociety.org</a>.</p>

		</div>
	{% endblock %}
