{% set title = "junior essay competition | sejong writing competition" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			{% include "../../templates/_swcEssay.njk" %}

			<h1>Junior essay competition</h1>
			<h2>Grade 8 and younger</h2>

			<h3>Prompts</h3>
				<p>Korea has a rich tradition of storytelling, and its folktales reflect important aspects of its history and culture. Many of the old historical texts are full of local legends and myths. Folktales can be entertaining and educational, but they can also strike a deep chord in our personal lives, and many Korean folktales demonstrate the universal tragedies and triumphs of daily life in the family. </p>
				<p><b>Prompts (choose one)</b>: Choose one folktale from the list below and write an essay responding to one of the following prompts.  All folktales can be read on our website. Please be sure to choose a folktale from the ones selected for this year's writing competition, as essays written about other folktales not on this list will not be considered.</p>
					<p>When writing your essay, be sure to include specific references to the tale you chose to write about. In your analysis or interpretation of the stories, you may also want to make references to your own life experiences.</p>
					<ol type="a">
						<li>Select one folktale from the list and explain your interpretation of the story. You may choose to use one or more of the following questions as a guideline: What is its importance? Why do you think it was created? Which Korean folktale character do you relate to best and why?  Would you make the same decisions as that character?</li>
						<li>If you could change one of these folktales, what would you change and why?  Do you disagree with something the tale is trying to convey?</li>
					</ol>

			<h3>Selected Korean folktales for 2020</h3>

				<ul>
					<li><a href="#">Congjui Potjui: Korean Cinderella</a></li>
					<li><a href="#">The Curse of Three-Year Hill</a></li>
					<li><a href="#">The Golden Ax and Silver Ax</a></li>
				</ul>

				<p>More folktales (that may not be used for the writing competition) are available to read from <a href="#">our resource section</a>.</p>


		</div>

	{% endblock %}
