{% set title = "writing music" %}
{% extends "../../templates/_page.njk" %}

  {% block content %}
		<div class="wrapper">

			<h1>Sijo and Music</h1>
			<h2>Sijo-inspired music of all genres</h2>

			<p>Originally, sijo were first and foremost written as songs and performed with musical accompaniment. In continuing this tradition, the Sejong Cultural Society has begun to collaborate with numerous musicians from a range of different genres in creating musical works based on and featuring sijo. Through modern and popular mainstream genres of music, we hope that contemporary prize-winning and classic sijo will be used in works that may appeal to the younger generations. In the future, we hope to see sijo expressed through a wide variety of media forms.</p>

	    <div style="clear:both; border-bottom: 1px grey solid; width: 105.6%; padding-top: 30px; margin-left: -30px; margin-right: -60px;"></div>

			<h1>Music Inspired by Korean Poetry: Sijo Poems in Settings from Classical to Hip-Hop</h1>
			<h2>October 2017, Poetry Foundation</h2>
			<p><a href="/events/2017/musicSijo.php">more information about this event</a> |
				<a href="http://sejongculturalsociety.org/events/2017/20171021_sijo_concert_program_view.pdf">program book</a></p>
			<p><a href="#hi">hip-hop</a> | <a href="#ja">jazz</a> | <a href="#ar">Korean art songs</a> | <a href="#cl">contemporary classical</a><br/>
				<b>click on headers below to expand or hide</b></p>

			<div id="writingPM" style="height:100px;border:2px solid red;"></div>

			<div class="row">
				<div class="taba" tabindex="1">
					Hip-hop
				</div>
				<div class="carda">
					Elephant Rebellion and Suwan Choi
				</div>
			</div>

			<hr/>

			<div class="row">
				<input type="checkbox" id="hiphop" />
				<label for="hiphop" class="tab">
					<h1>Hip-Hop</h1>
					<h2>Elephant Rebellion and Suwan Choi</h2>
				</label>
				<div class="card" id="hiphop">
					<h3>Artists</h3>
						<p><b>Elephant Rebellion</b><br/>
							TJ “TJ GT” Ayodele<br/>
							Elgin “DJ LOKari” Bokari<br/>
							Mergen “Monotone” Batdelger <br/>
							and <b>Suwan Choi</b>, jang-gu</p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/hZGiu7k9iFA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h5 style="margin-bottom:-10px;">"They Say Go"</h5>
						<p>based on "Still Here" by <a href="/writing/past/2013/winnerssijo.php#1">Roberto Santos</a>, winner of the 2013 Sejong Writing Competition sijo category</p>
						<blockquote>
							<p><b>Still Here</b><br/>
							They say go, return to land that I don't know. It makes no sense.<br/>
						Born and raised American, so Mexico is still foreign.<br/>
						Culture kept, but this is my home. Immigrant, no: Hispanic.</p>
						</blockquote>
					<h5 style="margin-bottom:-10px;">"Be Here"</h5>
					<p>based on "Chung-sang-ri" by Hwang Chin-i (c. 1506-1560), one of the most famous courtesans in Korean history</p>
					<blockquote>
						<p><b>Chung-sang-ri</b> (Jade Green Stream)<br/>
						Jade Green Stream, Don’t boast so proud of your easy passing through these blue hills<br/>
						Once you have reached the broad sea, to return again will be hard,<br/>
						While the Bright Moon fills these empty hills, why not pause? Then go on, if you will.	</p>
					</blockquote>
				</div>

				<div class="tab" tabindex="2">
							<h1>Jazz</h1>
							<h2>Columbia College Chicago Jazz Combo and Scott Hall</h2>
				</div>
				<div class="card">
						<h3>Artists</h3>
							<p><b>Columbia College Chicago Jazz Combo</b><br/>
								Adam Dib, alto saxophone<br/>
								Michael Hilgendorf, guitar <br/>
								Zane DeBord, bass <br/>
								Lyle Luckett, percussion</p>
							<p><b>Scott Hall</b>, composer</p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/VkH1FPlkaJg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						<h5 style="margin-bottom:-10px;">"Bass Strings"</h5>
							<p>composed by Scott Hall (Columbia College), based on "Tennis" by children's author and poet Linda Sue Park</p>
							<blockquote>
								<p><b>Tennis</b><br/>
									When the professionals play,<br/>
									it’s like watching a metronome:<br/>
									Racquet to racquet and back again,<br/>
									the ball keeps a perfect, steady beat.<br/><br/>
									When I’m on the court with my friends,<br/>
									we improvise: jazz, hip-hop.</p>
				</div>


				<div class="tab" tabindex="3">
						<h1>Korean Art Songs</h1>
						<h2>Ghibong Kim and Sojung Lee</h2>
				</div>
				<div class="card">
					<h3 style="margin-bottom:-10px">Artists</h3>
						<p><b>Ghibong Kim</b>, baritone<br/>
							<b>Sojung Lee</b>, piano</p>
						<p><b>Gum Su-hyun, Lee Soo-in, Hong Nan-pa</b>, composers</p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/HFInmnQ7vTc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h5 style="margin-bottom:-10px;">"The Swing"</h5>
						<p>composed by Gum Suhyun (1919-1992), based on sijo by Kim Mal-bong (1901-1961)</p>
						<blockquote>
							<p><b>The Swing</b>, <em>translated by Jang Gyong-ryol</em><br/>
								Jade-colored fine ramie-cloth skirt and gilt pigtail ribbons<br/>
								are leaping into the blue sky and fluttering in the clouds.<br/>
								A startled swallow stares at them, forgetting to beat its wings.<br/><br/>
								As she pushes off once, she soars as high as to the treetop.<br/>
								As she pushes off twice, the world lays itself flat beneath her feet.<br/>
								Myriad worries of the mind are all blown away in the wind.</p>
					</blockquote>
				<h5 style="margin-bottom:-10px;">"Stars"</h5>
						<p>composed by Lee Soo-in (b. 1939), based on sijo by Yi Pyong-gi (1891-1968)</p>
						<blockquote>
							<p><b>Stars</b>, <em>translated by Jaihiun Kim</em><br/>
								The air is cool and pleasant as I step into my courtyard.<br/>
								The sky has cleared above the peaks to the west.<br/>
								And a slice of moon appears with the coming of the stars. <br/><br/>
								Now the moon sinks, the stars signal to one another.<br/>
								Whose stars can they be? Which one is mine?<br/>
								Standing alone in the night, I count them one by one. </p>
					</blockquote>
				<h5 style="margin-bottom:-10px;">"Spring Maiden"</h5>
						<p>composed by Hong Nan-pa (1898-1941), based on sijo by Yi Un-sang (1903-1982)</p>
						<blockquote>
							<p><b>Spring Maiden</b>, <em>translated by Jaihiun Kim</em><br/>
								Here comes at last our Spring Maid<br/>
								dressed in shoots of grass,<br/>
								veiled in a fleecy cloud,<br/>
								shod with pearls of dew.<br/>
								Who will she be meeting,<br/>
								a bouquet pinned on her breast?<br/><br/>
								Will she ever pass my house<br/>
								on her way to meet her lover?<br/>
								Or is she coming for me?<br/>
								I don’t know.<br/>
								Shall I go and make a fool of myself<br/>
								and ask her where she is going ?</p>
						</blockquote>
			</div>
			</div>

				<div class="row">
					<div class="tab" tabindex="4">
						<h1>Contemporary Classical</h1>
						<h2>Misook Kim and Teddy Niedermaier</h2>
				</div>
				<div class="card">
					<h3 style="margin-bottom:-10px">Artists</h3>
						<p><b>Yoorhi Choi</b>, violin<br/>
							<b>Sojung Lee</b>, piano</p>
						<p><b>Misook Kim</b>, composer</p>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/2saZZb3NEbg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
					<h5 style="margin-bottom:-10px;">"Ga-Go-Pa"</h5>
						<p>composed by Misook Kim (Wheaton Conservatory), based on "Nostalgia" by Yi Un-Sang (1903-1982)</p>
						<blockquote>
							<p><b>Nostalgia</b>, <em>translated by Jang Gyong-ryol</em><br/>
								Vividly I see in my mind’s eye the Southern Sea so blue and serene.<br/>
								How can I forget even in dreams that serene waters of my hometown?<br/>
								Even now, the seabirds would greet me. Oh, I wish I were back home!<br/><br/>
								I miss those friends of mine whom I played with when I was a child.<br/>
								Wherever I go and wherever I am, how can I ever forget them?<br/>
								How are they doing these days? Oh, I wish I met them again!<br/><br/>
								While seabirds and friends are all still there at my hometown,<br/>
								How and why have I come to leave my hometown and live alone?<br/>
								Shall I go back home right now, leaving everything behind?<br/><br/>
								Oh, how I long to go back home and mingle with them as before!<br/>
								How I long to live there and laugh as I did as a child in festive attire!<br/>
								How I long to go back to those days when there were no tears at all! </p>
						</blockquote>
					<h5 style="margin-bottom:-10px">Artists</h5>
						<p><b>Gretchen Adams</b>, mezzo-soprano<br/>
							<b>Allegra Montanari</b>, cello<br/>
							<b>Jennifer Woodrum</b>, clarinet</p>
						<p><b>Teddy Niedermaier</b>, composer</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/RJ6scl7Lg08" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<h5 style="margin-bottom:-10px;">"Trio"</h5>
						<p>composed by Teddy Niedermaier (Roosevelt University), based on sijo by Yi Myunghan, Hwang Chin-i, and Yang Sa Eun</p>
						<blockquote>
							<p><b>untitled</b> by Yi Myunghan<br/>
							If on the pathways of dreams <br/>
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;left a footprint marks<br/>
												The rough road with rocks by your window <br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;would soon wear smooth.<br/>
											But in dreams paths take no footprints.<br/>
											&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I mourn the more for that.</p>
							<p><b>Chung-sang-ri</b> by Hwang Chin-i<br/>
							Jade Green Stream, don’t boast so proud of your easy passing through these blue hills. <br/>
							Once you have reached the broad sea, to return again will be hard. <br/>
							While the Bright Moon fills these empty hills, why not pause? Then go on, if you will. </p>
							<p><b>untitled</b> by Yang Sa Eun<br/>
							Soaring high though a mountain may be, <br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;it is a mere mound beneath the Heavens <br/>
							Climb and climb, <br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and no summit cannot be reached <br/>
							Yet the people stay at its base <br/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;they say the mountain is too high.</p>
							</blockquote>
				</div>
				</div>

				<div style="clear:both;"></div>

			</div>

		<script>
		$("#register").click(function () {
		$("#features").slideUp();
		});
		$(".updown#artsongs").click(function () {
		if($(".videos#artsongs").css("display") == "block") { $(".videos#artsongs").slideUp(); $(".icon").css("background-position","0px -8px")}
		else { $(".videos#artsongs").slideDown(); $(".icon").css("background-position","0px 0px")}
		});
		$(".updown#classical").click(function () {
		if($(".videos#classical").css("display") == "block") { $(".videos#classical").slideUp(); $(".icon").css("background-position","0px -8px")}
		else { $(".videos#classical").slideDown(); $(".icon").css("background-position","0px 0px")}
		});
		$(".updown#jazz").click(function () {
		if($(".videos#jazz").css("display") == "block") { $(".videos#jazz").slideUp(); $(".icon").css("background-position","0px -8px")}
		else { $(".videos#jazz").slideDown(); $(".icon").css("background-position","0px 0px")}
		});
		$(".updown#hiphop").click(function () {
		if($(".videos#hiphop").css("display") == "block") { $(".videos#hiphop").slideUp(); $(".icon").css("background-position","0px -8px")}
		else { $(".videos#hiphop").slideDown(); $(".icon").css("background-position","0px 0px")}
		});
		</script>

	{% endblock %}
