{% set title = "sijo competition rules | sejong writing competition" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

	<div class="wrapper">

		{% include "../../templates/_swcSijo.njk" %}

		<h1>Sijo competition rules and information</h1>
		<h2>in collaboration with the Korea Institute, Harvard University</h2>
		<h2>Deadline: March 31, 2020 (11.59pm CDT)</h2>

		<h3>Divisions</h3>
			<ul>
				<li><b>Adult division</b> (age 19 and older)</li>
				<li><b>Pre-college division</b> (age 18 and younger)*<br/>
				*College students who are eighteen at the time of the competition deadline are asked to participate in the adult division.</li>
			</ul>

		<h3>Guidelines</h3>
			<p>Write <b>one</b> sijo in English on a topic of your choice. A title for the sijo is not required. <a href="/writing/current/resources/sijo_guide.php">More information on writing sijo can be found here.</a></p>

			<b>Eligibility</b>
				<ul>
					<li>Participants <b>must</b> participate in their age-appropriate division. Younger participants may not apply to the adult division.</li>
					<li>One entry per category per contestant is permitted.  (Contestants are permitted one essay entry and one sijo entry.)</li>
					<li>For students participating in both essay and sijo divisions: Unlike the sijo adult division, essay divisions do not have a lower age limit.  If a pre-college student would like to compete in the adult essay division and pre-college sijo division, s/he must create two separate application accounts.</li>
				</ul>
			<b>Entries</b>
				<ul>
					<li>All entries must be written in English.  If Korean or another language is included, the entry will be judged on its English content alone.</li>
					<li>Contestants' names cannot be written in their entries.</li>
					<li>Entries must be submitted through our <a href="/writing/current/apply.php">website</a>.  Entries submitted via email will not be accepted.</li>
				</ul>
			<b>Results</b>
				<ul>
					<li>We reserve the right to use all submitted pieces in future publications of the Sejong Cultural Society.</li>
					<li>The judges may choose to decline to award a prize.</li>
					<li>Winners are usually announced by mid-May.  This estimate is subject to change depending on the number of total entries received; a more accurate estimate will be posted on our website soon after the competition deadline.</li>
	      </ul>
			<b>Prizes</b>
        <ul>
					<li>Adult division: First ($1,000), Second ($750), Third ($500)</li>
					<li>Pre-college division: First ($500), Second ($400), Third ($300)</li>
					<li>Honorable mention (for both divisions listed above): Friends of Pacific Rim Awards ($50 each) </li>
					<li>Competition winners will be announced in <em>AZALEA: Journal of Korean Literature and Culture</em>, published by the Korea Institute at Harvard University.</li>
					<li>Winners' works may be published in the <em>Korea Times Chicago</em> or the <em>Korean Quarterly</em>.</li>
        </ul>
	</div>

	{% endblock %}
