{% set title = "for teachers | sejong writing competition" %}
{% extends "../../templates/_page.njk" %}

	{% block content %}

		<div class="wrapper">

			<h1>Teaching Sijo</h1>
			<h2>resources for teachers</h2>

			<p>The sijo is a traditional structured three-line Korean poetic form comparable to Chinese jueju (quatrain) and Japanese haiku. It has been the most popular form of lyric verse in Korea for over five hundred years and is considered a classic example of traditional Korean fine arts. Through the sijo, students may be introduced to not only a unique, lesser-known form of poetry, but also a culture little explored.</p>
			<p>Here you can find resources intended to aid teachers interested in bringing the sijo to their classrooms.</p>

	 		<h3>Teaching Examples</h3>
			  <ul>
			    <li><a href="http://sejongsociety.org/videos/sijo/class_visit/index.htm">Video index</a> - Video examples of three teachers using the sijo in their classes.  Includes Ms Tracy Kaminer (Randolph-Macon Academy, Front Royal, VA), Ms Elizabeth Jorgensen and Ms Heidi Hamilton (Arrowhead Union High School, Hartland, WI), and Mr Chuck Newell (Notre Dame High School, Chattanooga, TN).</li>
			    <li><a href="https://www.youtube.com/watch?v=rjEhF87nZ20&list=PLvYl_VXpuU70OqeB8wK72p0aZ-GxSOpdk">Video lecture</a> - Video example of an impromptu class of elementary-age students being taught sijo by Ms Elizabeth Jorgensen (Arrowhead Union High School, Hartland, WI).</li>
			  </ul>


			<h3>Teaching Guides</h3>
	      <ul>
	        <li><a href="/mediafiles/resources/sijo-structuresamples.ppt">Sijo structure and samples</a> (.ppt) - a brief overview of sijo with examples, compiled by the Sejong Cultural Society</li>
	        <li><a href="/mediafiles/resources/sijo-structuresamples-NotePages.pdf">Sijo structure and samples</a> (.pdf) - a brief overview of sijo with examples, compiled by the Sejong Cultural Society</li>
	        <li><a href="/mediafiles/resources/sijo-kaminer.doc">Reading and Writing the Sijo</a> by Tracy Kaminer (.doc) - a suggested outline for teaching sijo in a language arts classroom, intended for grades 7-12</li>
	        <li><a href="/mediafiles/resources/sijo-stoltenberg.doc">Korean Sijo</a> by Amy Stoltenberg (.doc) - a lesson plan with a focus on translations and the cultural aspect of sijo, intended for grades 9-12</li>
	        <li><a href="/mediafiles/resources/sijo-newell.docx">Writing Haiku and Sijo: Showing the Differences in East Asian Cultures</a> by Chuck Newell (.docx)</li>
	        <li><a href="/mediafiles/resources/sijo-jorgensen.pdf">Sijo lesson plans</a> by Elizabeth Jorgensen (.pdf)</li>
	      </ul>

		  <h3>About Sijo</h3>

	    <p><b>Sijo lectures by David McCann</b></p>
        <ul>
          <li><a href="https://youtu.be/BTnx2m4_VGI?list=PLvYl_VXpuU708H8ILXrKDRpS_73FrR8iw">Part 1</a>: form and structure </li>
          <li><a href="https://youtu.be/frUUtsQyVRA?list=PLvYl_VXpuU708H8ILXrKDRpS_73FrR8iw">Part 2</a>: history </li>
          <li><a href="https://youtu.be/0zea3P4s-lM?list=PLvYl_VXpuU708H8ILXrKDRpS_73FrR8iw">Part 3</a>: sample analysis of sijo</li>
        </ul>

	    <p><b>Sijo lecture series by Mark Peterson</b></p>
        <ul>
          <li><a href="https://youtu.be/1hLZoK-ra7M?list=PLvYl_VXpuU71fPzO1TtY3WrbUaT_ZBWqN">Lecture 1</a>: Rhythm of sijo and classic masterpieces</li>
          <li><a href="https://youtu.be/0A4OkWabpfY?list=PLvYl_VXpuU71fPzO1TtY3WrbUaT_ZBWqN">Lecture 2</a>: Correcting sijo</li>
          <li><a href="https://youtu.be/_D435tY-zRQ?list=PLvYl_VXpuU71fPzO1TtY3WrbUaT_ZBWqN">Lecture 3</a>: Teaching sijo through mimicry</li>
          <li><a href="https://youtu.be/EDLxHkcOGoI?list=PLvYl_VXpuU71fPzO1TtY3WrbUaT_ZBWqN">Lecture 4</a>: Creating sijo from other texts</li>
          <li><a href="https://youtu.be/JvyXui1zQj8?list=PLvYl_VXpuU71fPzO1TtY3WrbUaT_ZBWqN">Lecture 5</a>: Sijo and haiku</li>
        </ul>

		</div>
		
	{% endblock %}
